<section>
    <h2>YellowLed?</h2>

    <p>Früher™ war ich recht häufig im IRC unterwegs, nahezu ausschließlich im IRCNet, welches Benutzern maximal neun Zeichen lange Nicknames erlaubt. „YellowLed“ ist die Abkürzung eines Songtitels meiner Lieblingsband <a href="http://www.pearljam.com">Pearl Jam</a>: „Yellow Ledbetter“. Der Nick ist geblieben, er hat aber ausdrücklich nichts mit gelben Leuchtdioden zu tun!</p>
</section>
