<link rel="shortcut icon" href="{{ '/favicons/favicon.ico' | url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/favicons/icon.svg' | url }}">
<link rel="apple-touch-icon" href="{{ '/favicons/apple-touch-icon.png' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
