<section class="social">
    <h2>Social Media</h2>
    <ul>
        <li><a class="social__twitter" href="https://twitter.com/yellowled" aria-label="Twitter">{% include "svg/twitter.svg" %}</a></li>
        <li><a class="social__facebook" href="https://www.facebook.com/matthias.mees/" aria-label="Facebook">{% include "svg/facebook.svg" %}</a></li>
        <li><a class="social__instagram" href="https://www.instagram.com/yl_mm/" aria-label="Instagram">{% include "svg/instagram.svg" %}</a></li>
        <li><a class="social__github" href="https://github.com/yellowled" aria-label="GitHub">{% include "svg/github.svg" %}</a></li>
        <li><a class="social__pinboard" href="https://pinboard.in/u:yellowled/" aria-label="Pinboard">{% include "svg/pinboard.svg" %}</a></li>
        <li><a class="social__lastfm" href="https://www.last.fm/de/user/yellowled-mm" aria-label="LastFM">{% include "svg/last-fm.svg" %}</a></li>
        <li><a class="social__xing" href="https://www.xing.com/profile/Matthias_Mees" aria-label="Xing">{% include "svg/xing.svg" %}</a></li>
        <li><a class="social__amazon" href="https://yellowled.de/amazon" aria-label="Amazon">{% include "svg/amazon.svg" %}</a></li>
        <li><a class="social__spotify" href="https://open.spotify.com/user/1157605524" aria-label="Spotify">{% include "svg/spotify.svg" %}</a></li>
    </ul>
</section>
