<footer class="archived">
    <p>Dieser Artikel ist archiviert. Er wurde am <time datetime="{{ page.date | dateISO }}">{{ page.date | dateFormat }}</time> in <i>YellowLeds Weblog v2</i> veröffentlicht. Der Inhalt ist inzwischen wahrscheinlich veraltet. Kommentare und Trackbacks wurden entfernt. – <a href="/archiv/">Zur Archivübersicht</a></p>
</footer>
