---
title: Archiv (Blog v2)
description: Alle Artikel aus meinem alten Blog
layout: page.njk
tags: sitemapped
sitemapTitle: Archiv
pagination:
    data: collections.v2
    size: 20
    alias: v2
    reverse: true
---

<p>Dieses Archiv enthält die Textinhalte aller Artikel der (eingestellten) Version 2 meines Blogs in umgekehrter Reihenfolge (Januar 2020 bis Februar 2011). Kommentare, Trackbacks und rein dekorative Grafiken wurden aus Platzgründen entfernt. – <a href="/">Zurück zur Startseite</a></p>

<ul>
    {%- for entry in v2 %}
    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
    {%- endfor %}
</ul>

<nav class="pagination" aria-label="Pagination">
    <ul>
        {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">Neuere Einträge</a></li>{% endif %}
        {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">Ältere Einträge</a></li>{% endif %}
    </ul>
</nav>
