<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or meta.title }}</title>
    {% include "meta.njk" %}
    {% include "favicons.njk" %}
    {%- set css -%}{%- include "v2/style.css" -%}{%- endset -%}
    <style>{{ css | cssmin | safe }}</style>
</head>

<body>
    <main>
        <h1>{{ title }}</h1>

        {{ content | safe }}
    </main>
</body>
</html>
