---
permalink: 'archiv/{{ id }}/{{ slug }}.html'
---
{% extends 'src/_layouts/base.njk' %}

{% block content %}
    <article>
        {% include 'v2.njk' %}

        <h1>{{ title }}</h1>

        {{ content | safe }}
    </article>
{% endblock %}
