---
permalink: 'archiv/{{ id }}/{{ slug }}.html'
---
<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or meta.title }}</title>
    {% include "meta.njk" %}
    {% include "favicons.njk" %}
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
</head>
<body>
    <main>
        <article>
            {% include 'v2.njk' %}

            <h1>{{ title }}</h1>

            {{ content | safe }}
        </article>
    </main>

    {% include "footer.njk" %}
</body>
</html>
