.archived {
    background-color: var(--color-archive);
    font-size: 0.875em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    > p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.pagination {
    > ul {
        display: flex;
        justify-content: space-between;

        > li {
            flex: 0 1 auto;
        }
    }

    &__prev {
        &::before {
            content: '← ';
        }
    }

    &__next {
        &::after {
            content: ' →';
        }
    }
}
