@use "../mixins/buttons";

body > header {
    display: flex;
    justify-content: space-between;

    > a {
        font-size: 0.875em;
        font-weight: 300;
        letter-spacing: 0.25rem;
        text-transform: uppercase;

        &,
        &:visited {
            text-decoration: none;
        }
    }

    > button {
        @include buttons.unstyled-button;

        color: var(--color-text);

        &:hover,
        &:focus {
            color: var(--color-text);
        }
    }
}
