@use '../mixins/buttons';

body > header {
    display: flex;
    justify-content: space-between;

    > a {
        font-size: 0.875em;
        font-weight: 300;
        letter-spacing: 0.25rem;
        text-transform: uppercase;

        &,
        &:visited {
            text-decoration: none;
        }
    }

    > button {
        @include buttons.unstyled-button;

        color: var(--color-text);

        &:hover,
        &:focus {
            color: var(--color-text);
        }

        .no-js & {
            display: none;
            visibility: hidden;
        }
    }

    [class^='icon-'] {
        height: 1.25rem;
        width: 1.25rem;
    }
}
