---
import social from "../data/social.json";

import Page from "../layouts/Page.astro";

const title = "Social Media";
const description = "Meine Accounts in sozialen Medien";
---

<Page title={title} description={description}>
    <ul>
        {
            social.map((item) => (
                <li>
                    <a href={item.url}>{item.name}</a>
                </li>
            ))
        }
    </ul>
</Page>
