---
import social from "../data/social"

import Default from "../layouts/Default.astro";

const title = "Social Media";
const description = "Meine Accounts in sozialen Medien";
---

<Default title={title} description={description}>
    <ul>
        {
            social.map((item) => (
                <li><a href={item.url}>{item.name}</a></li>
            ))
        }
    </ul>
</Default>
