---
import Default from "../layouts/Default.astro";
---

<Default title="Suche">
    <form action="https://duckduckgo.com/" method="get" id="search" autocomplete="off">
        <label for="term">Suchbegriff(e)</label>
        <input type="search" name="q" id="term" />
        <input type="hidden" name="sites" value="yellowled.de" />
        <button type="submit">Suche</button>
    </form>

    <p id="status" role="status"></p>

    <ul id="results"></ul>
</Default>

<script src="../scripts/search.js"></script>

<style lang="scss">
    @use "../scss/mixins/helpers";

    button,
    label {
        @include helpers.visuallyhidden;
    }

    input[type="search"] {
        background-clip: padding-box;
        background-color: var(--color-form-input);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
        background-position: 0.75rem 50%;
        background-repeat: no-repeat;
        border-radius: 0.25rem;
        border: 1px solid var(--color-form-border);
        color: var(--color-form-text);
        display: block;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        min-height: calc(1.5em + 0.75rem + 2px);
        outline-offset: -2px;
        overflow: visible;
        padding: 0.375rem 0.75rem 0.375rem 2.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        &::-ms-expand {
            background-color: transparent;
            border: 0;
        }

        &:focus {
            background-color: var(--color-form-input);
            border-color: var(--color-form-border-focus);
            box-shadow: var(--color-form-shadow);
            color: var(--color-form-text);
            outline: 0;
        }
    }
</style>
