<footer>
    <ul>
        <li><a href="/sitemap/">Sitemap</a></li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
        <li><a href="/impressum/">Impressum</a></li>
    </ul>
</footer>

<style lang="scss">
    footer {
        border-top: 1px solid var(--color-border);
        margin-top: 2rem;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                display: inline-block;

                &:not(:last-child) {
                    &::after {
                        content: "/";
                        display: inline;
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
</style>
