<footer>
    <ul>
        <li><a href="/sitemap/">Sitemap</a></li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
        <li><a href="/impressum/">Impressum</a></li>
    </ul>
</footer>

<style>
    footer {
        border-top: 1px solid var(--color-border);
        margin-block-start: 2rem;
    }

    @media print {
        footer {
            display: none;
            visibility: hidden;
        }
    }

    ul {
        list-style: none;
        padding-inline-start: 0;
    }

    li {
        display: inline-block;
    }

    li:not(:last-child)::after {
        content: "/";
        display: inline;
        margin-inline: 0.5rem;
    }
</style>
