---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <a href="/">yellowled.de</a>

    <ThemeToggle />
</header>

<style lang="scss">
    header {
        display: flex;
        justify-content: space-between;

        > a {
            font-size: 0.875em;
            font-weight: 300;
            letter-spacing: 0.25rem;
            text-transform: uppercase;

            &,
            &:visited {
                text-decoration: none;
            }
        }
    }
</style>
