---
import DarkMode from "./DarkMode.astro";
---

<header>
    <a href="/">yellowled.de</a>

    <DarkMode />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
    }

    a {
        font-size: 0.875em;
        font-weight: 300;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
    }

    a,
    a:visited {
        text-decoration: none;
    }
</style>
