---
const { prev, next } = Astro.props;
---

<nav>
    <ul>
        {
            prev && (
                <li class="prev">
                    <a href={prev}>Neuere Einträge</a>
                </li>
            )
        }
        {
            next && (
                <li class="next">
                    <a href={next}>Ältere Einträge</a>
                </li>
            )
        }
    </ul>
</nav>

<style>
    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        flex: 0 1 auto;
    }

    .prev {
        margin-right: auto;
    }

    .prev::before {
        content: "← ";
    }

    .next {
        margin-left: auto;
    }

    .next::after {
        content: " →";
    }
</style>
