.avatar {
    border-radius: 4px;
    float: right;
    margin: 0 0 1rem 1rem;
    width: clamp(25%, calc(48rem - 100%), 100%);
}

.sitemap dt {
    font-weight: 400;
}

.done {
    background-color: var(--color-primary);
    color: var(--color-page);
    font-size: 1.25rem;
    padding: 1rem;
}

.done strong {
    text-transform: uppercase;
}

.intro {
    font-size: 1.25rem;
}
