:root {
    --color-mode: "light";
    --color-page: #fdfdfd;
    --color-text: #222;
    --color-primary: #2763a5;
    --color-border: #ddd;
    --color-archive: #ddd;
    --color-form-input: #fff;
    --color-form-text: #495057;
    --color-form-border: #ced4da;
    --color-form-border-focus: #8bbafe;
    --color-form-shadow: rgb(13 110 253 / 25%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-page: #222;
        --color-text: #fdfdfd;
        --color-primary: #ffc000;
        --color-border: #ddd;
        --color-archive: #444;
        --color-form-input: #444;
        --color-form-text: #fdfdfd;
        --color-form-border: #ced4da;
        --color-form-border-focus: #fef2cc;
        --color-form-shadow: rgb(13 110 253 / 25%);
    }
}

.dark {
    --color-page: #222;
    --color-text: #fdfdfd;
    --color-primary: #ffc000;
    --color-border: #ddd;
    --color-archive: #444;
    --color-form-input: #444;
    --color-form-text: #fdfdfd;
    --color-form-border: #ced4da;
    --color-form-border-focus: #fef2cc;
    --color-form-shadow: rgb(13 110 253 / 25%);
}
