*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture {
    height: auto;
    max-width: 100%;
}

img,
svg {
    vertical-align: middle;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}

abbr[title] {
    cursor: help;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
}
