---
title: CV Matthias Mees
description: Online-Lebenslauf von Matthias Mees
layout: cv.njk
---
<h1>Matthias Mees</h1>

<h2>Persönliche Daten</h2>

<ul class="cv__contact">
    <li>{% include 'icons/house.svg' %} Rehhorst 39, 23701 Eutin</li>
    <li>{% include 'icons/calendar.svg' %} 04.05.1974</li>
    <li>{% include 'icons/envelope.svg' %} <del>entfernt</del></li>
    <li>{% include 'icons/phone.svg' %} <del>entfernt</del></li>
    <li>{% include 'icons/link-45deg.svg' %} <a href="https://yellowled.de">yellowled.de</a></li>
    <li>{% include 'icons/github.svg' %} <a href="https://github.com/yellowled/">yellowled</a></li>
</ul>

<h2>Über mich</h2>

<p>Ich bin <strong>Frontend-Entwickler</strong> mit 15 Jahren Berufserfahrung. Meine Basis sind semantisches HTML, effizientes CSS und modulares JavaScript. Ich habe Erfahrungen mit diversen Open-Source-<abbr title="Content Management Systemen">CMS</abbr> und verschiedenen JavaScript-Frameworks. Mobiles Arbeiten in einem agilen, crossfunktionalen Team ist meine Idealvorstellung.</p>

<h2>Kenntnisse</h2>


<div class="cv__skills">
    <div>
        <h3>HTML</h3>

        <ul>
            <li>sowie PHP-Templates wie Smarty und Twig</li>
            <li>JS-Templates mit JSX, Handlebars, Liquid, Nunjucks etc.</li>
        </ul>
    </div>

    <div>
        <h3>CSS</h3>

        <ul>
            <li>einschließlich SCSS, PostCSS und Stylelint</li>
            <li>oder Rapid Prototyping mit Bootstrap</li>
        </ul>
    </div>

    <div>
        <h3>JavaScript</h3>

        <ul>
            <li>inklusive Babel und eslint</li>
            <li>praktische Erfahrung mit React und Svelte</li>
            <li>Grundwissen in VueJS und TypeScript</li>
        </ul>
    </div>

    <div>
        <h3>CMS</h3>

        <ul>
            <li>Erfahrung mit Open-Source-Systemen wie Wordpress, TYPO3, ProcessWire u.v.m.</li>
            <li>sowie Headless-CMS (Strapi, Directus)</li>
            <li>Static Site Generatoren (Eleventy, <a href="https://astro.build">Astro</a>)</li>
        </ul>
    </div>

    <div>
        <h3>Des Weiteren …</h3>

        <ul>
            <li>Agiles Arbeiten mit Scrum und Kanban</li>
            <li>Versionskontrolle mit git</li>
            <li>Frontend-Tooling mit npm, prettier, Gulp, Rollup etc.</li>
        </ul>
    </div>

    <div>
        <h3>Sprachen</h3>

        <ul>
            <li>Deutsch (Muttersprache)</li>
            <li>Englisch (fließend)</li>
        </ul>
    </div>
</div>

<h2>Berufserfahrung</h2>

<ol class="cv__timeline" reversed>
    <li>
        <article>
            <span class="cv__timespan">07/2017 - 12/2022</span>

            <h3>Frontend-Entwickler</h3>

            <span class="cv__position"><a href="https://gebruederheitz.de">/gebruederheitz</a> (100% remote)</span>

            <ul>
                <li>Frontend in Projekten mit Wordpress und TYPO3 (Corporate/Marketing Sites)</li>
                <li>Entwicklung von Web-Applikationen in Vanilla JS, React und Svelte</li>
                <li>Pattern Libraries mit einem inhouse mit <a href="https://www.11ty.dev">Eleventy</a> entwickelten Generator</li>
            </ul>
        </article>
    </li>
    <li>
        <article>
            <span class="cv__timespan">11/2007 - 06/2017</span>

            <h3>Webdesigner</h3>

            <span class="cv__position">selbständiger Einzelunternehmer</span>

            <ul>
                <li>Umsetzung von Webseiten für Vereine und <abbr title="Kleine und mittlere Unternehmen">KMU</abbr> mit <a href="https://processwire.com">ProcessWire</a> oder <a href="https://docs.s9y.org">Serendipity</a></li>
                <li>Umsetzung und Wartung von Webseiten für Einzelunternehmer in statischem HTML</li>
                <li>Frontend für externe Teams als Remote-Freelancer</li>
            </ul>
        </article>
    </li>
</ol>

<h2>Ausbildung</h2>

<ol class="cv__timeline" reversed>
    <li>
        <article>
            <span class="cv__timespan">1993 - 2000</span>
            <h3>Politische Wissenschaft (<abbr title="Magister Artium">M.A.</abbr>)</h3>
            <span>Christian-Albrechts-Universität, Kiel</span>
        </article>
    </li>
</ol>
