---
permalink: "_redirects"
---
/amazon             http://www.amazon.de/wishlist/17K9U8IYN1LP4/
/tresen             https://hangouts.google.com/call/Y6YCF_B_0Vk5QAAmWIQGAEEE

/templates.html     https://github.com/yellowled/serendipity-themes
/ports.html         https://github.com/yellowled/serendipity-ports

/wke2014            https://speakerdeck.com/yellowled/processwire-ein-cms-voller-freiheiten
/wke2016            https://speakerdeck.com/yellowled/styleguides-fur-alle-s
/wke2018            https://speakerdeck.com/yellowled/kannst-du-mich-horen

/datenschutz.html   /datenschutz/
/impressum.html     /impressum/
/fachartikel.html   /fachartikel/
/ueber-mich.html    /about/

/*                  /404/   404
