---
permalink: searchIndex.json
eleventyExcludeFromCollections: true
---
[
{%- for item in collections.all -%}
    {%- if not item.data.excludeFromSitemap %}
    {
        "title": "{{ item.data.title }}",
        "summary": "{{ item.data.description }}",
        "url": "{{ item.url | url | absoluteUrl(meta.url) }}"
    }{%- endif -%}{%- if not loop.last -%},{% endif %}
{%- endfor -%}
]
