---
title: Suche
description: Einfaches Suchformular
layout: page.njk
eleventyNavigation:
    key: Suche
    order: 7
---

<form action="https://www.google.com/search" id="search" role="search">
	<label for="search__term">Suchbegriff(e)</label>
	<input type="search" name="q" id="search__term" value="site:yellowled.de ">
	<button id="search__submit" type="submit" aria-label="Suche starten">{% include 'icons/search.svg' %}</button>
</form>

<div id="search__results"></div>
