---
title: Sitemap
layout: page.njk
---

<dl>
{% for item in collections.sitemapped %}
    <dt><a href="{{ item.url }}">{{ item.data.sitemapTitle or item.data.title }}</a></dt>
    <dd>{{ item.data.description }}</dd>
{% endfor %}
</dl>
