---
title: Sitemap
description: Eine Übersicht der wichtigsten Seiten als Navigationsersatz
layout: page.njk
---
<nav>
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ showExcerpt: true}) | safe }}
</nav>
