// GLOBAL STYLES
// --------------------------------------------------------------------
html {
    @media screen and (min-width: 48em) {
        font-size: 125%;
    }

    @media screen and (min-width: 75em) {
        font-size: 150%;
    }
}

body {
    background-color: #fdfdfd;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2em;

    @media screen and (min-width: 48em) {
        font-size: 2.5em;
    }

    @media screen and (min-width: 100em) {
        font-size: 3em;
    }
}

h2 {
    font-size: 1.5em;

    @media screen and (min-width: 48em) {
        font-size: 1.75em;
    }

    @media screen and (min-width: 100em) {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.25em;

    @media screen and (min-width: 48em) {
        font-size: 1.375em;
    }

    @media screen and (min-width: 100em) {
        font-size: 1.5em;
    }
}

h4 {
    font-size: 1.125em;
}

h5,
h6 {
    font-size: 1em;
}

a {
    &,
    &:visited {
        color: #2763a5;
        text-decoration: underline;
    }

    &:hover,
    &:focus {
        background-color: #2763a5;
        color: #fff;
        text-decoration: none;
    }
}

blockquote {
    @include smart-blockquotes;

    border-left: 0.5rem solid #ccc;
    margin: 1em 2rem;
    padding-left: 1rem;
}

.responsive-embed {
    @include responsive-object;
}

code[class*='language-'],
pre[class*='language-'] {
    font-size: 0.875em;
}
