// GLOBAL STYLES
// --------------------------------------------------------------------
html {
    @media screen and (min-width: 48em) {
        font-size: 125%;
    }

    @media screen and (min-width: 75em) {
        font-size: 150%;
    }
}

body {
    background-color: #fdfdfd;
    color: #222;
}

a {
    &,
    &:visited {
        color: #2763a5;
        text-decoration: underline;
    }

    &:hover,
    &:focus {
        background-color: #2763a5;
        color: #fff;
        text-decoration: none;
    }
}

blockquote {
    @include smart-blockquotes;
}

code[class*='language-'],
pre[class*='language-'] {
    font-size: 0.875em;
}
