// SOCIAL MEDIA LINKS
// --------------------------------------------------------------------
.social {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding-left: 0;

        @media screen and (min-width: 48em) {
            justify-content: flex-start;
        }
    }

    li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &:not(:last-child) {
            margin-right: 0.5rem;

            @media screen and (min-width: 48em) {
                margin-right: 1rem;
            }
        }
    }

    [class^='icon-'] {
        height: 3rem;
        width: 3rem;
    }
}

.social__twitter {
    color: #1da1f2;
}

.social__facebook {
    color: #1877f2;
}

.social__instagram {
    color: #e4405f;
}

.social__github {
    color: #181717;
}

.social__pinboard {
    color: #0000ff;
}

.social__lastfm {
    color: #d51007;
}

.social__xing {
    color: #006567;
}

.social__spotify {
    color: #1ed760;
}

.social__amazon {
    color: #ff9900;
}
