// SOCIAL MEDIA LINKS
// --------------------------------------------------------------------
.social {
    [class^='icon-'] {
        height: 2rem;
        width: 2rem;
    }
}

.social__twitter {
    color: #1da1f2;
}

.social__facebook {
    color: #1877f2;
}

.social__instagram {
    color: #e4405f;
}

.social__github {
    color: #181717;
}

.social__pinboard {
    color: #0000ff;
}

.social__lastfm {
    color: #d51007;
}

.social__xing {
    color: #006567;
}

.social__spotify {
    color: #1ed760;
}

.social__amazon {
    color: #ff9900;
}
